page-home {
    ion-content {
        //background: url("../assets/imgs/abs.jpg") no-repeat right top fixed;
        background: url("../assets/imgs/bodybuilding.jpg") no-repeat right top fixed;
        background-size: cover;
        height: 100%;
    }
}
